---
import Tabla from "@components/brands/Tabla.svelte";
import Layout from "@layouts/layout.astro";
---

<Layout page="Marcas">
    <h1 class="text-2xl font-bold mb-4">Marcas</h1>

    <Tabla client:visible />
</Layout>